---

---

<section class="p-4 bg-blue-100 rounded">
  <h3 class="font-semibold text-xl">Simple Form Component</h3>

  <form
    class="w-full max-w-sm"
    method="POST"
    hx-post="/partials/todos"
    hx-target="#todos"
  >
    <div class="md:flex md:items-center my-6">
      <div>
        <label
          class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4"
          for="todo-id"
        >
          Todo Id
        </label>
      </div>
      <div>
        <input
          class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"
          id="todo-id"
          name="todo-id"
          type="text"
          placeholder="(1 to 200)"
        />
      </div>
    </div>
    <div class="md:flex md:items-center">
      <button
        class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
        type="submit"
      >
        Search
      </button>
    </div>
  </form>
  <div id="todos"></div>
</section>
